.profile__wrapper{
    width: 100%;
    height: 100%;
    border-left: 1px solid #dcdde3;
    background-color: #f8f9fa;
}
.header__wrapper{
    background-color: #f9fbfe;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #dcdde3;
    display: flex;
    align-items: center;
}
.header__wrapper span{
    margin-left: 50px;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
    font-size: 18px;
    flex-grow: 1;
}
.header__wrapper button.sign-out{
    height: 40px;
    width: 130px;
    border: none;
    background-color: #e6eefc;
    color: #4885ef;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 5px;
    margin-right: 75px;
}
.profile--help{
    width: 50px;
}
.main__wrapper{
    overflow-y: auto;
    height: calc(100vh - 76px);
}
.profile_form{
    box-shadow: 0 0 10px 2px #f3f3f3;
    margin: 25px 50px 50px;
    background-color: #FFF;
    border-radius: 5px;
    grid-column: 1/-1;
}
.form__header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #f8f8f8;
}
.form__header span{
    margin-left: 40px;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
}
.form__header button{
    margin-right: 50px;
    border: none;
    width: 185px;
    height: 45px;
    border-radius: 5px;
    background-color: #fdf1f0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: #f2787a;
}
.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 60px;
    margin-right: 60px;
}
.form{
    width: 520px;
    height: 270px;
    background-color: #f9fbfe;
}
.profile p{
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
label{
    display: block;
    color: #464c63;
    font-size: 15px;
}
.form input{
    width: 410px;
    height: 30px;
    border: 1px solid #dbe0f3;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    padding-left: 10px;
    caret-color: #dbe0f3;
    margin-bottom: 20px;
    color: #dfe0e4;
}
.form input::placeholder{
    color:#dfe0e4;
}
.picture--frame{
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 5px solid #61d5df;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save_BTN{
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 15px;
}
.dropdown_countries{
    position: absolute;
    bottom: 53px;
    background-color:#f9fbfe;
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    border: 1px solid #dbe0f3;
    display: none;
}
.dropdown_countries--visible{
    display: block;
}
.dropdown_countries ul li{
  list-style-type: none;
    height: 35px;
    border-top: 1px solid #dbe0f3;
    padding-left: 10px;
    text-transform: capitalize;
    color: #474f58;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.dropdown_countries ul li:hover{
    background-color: #edf2fb;
}
.select_country{
    position: relative;
}
.select_country input{
    cursor: default;
}
.countries__list{
    margin: 0;
}
#selectedCountry{
    background-color: #f3f7fd;
}
#selectedCountry::placeholder{
    color: #bdbbbd;
    font-size: 16px;
}
.country-dropdown{
    position: absolute;
    right: 15px;
    top: 20px;
    color: #bdbbbd;
}
.countries__list li{
    height: 35px;
    border: none;
    border-top: 1px solid #dbe0f3;
    border-bottom: none;
    padding-left: 10px;
    text-transform: capitalize;
    color: #474f58;
    font-size: 15px;
    display: flex;
    align-items: center;
}
