.inventory__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.empty-inventory{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-inventory p{
    color: #49547d;
    width: 470px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.empty-inventory a, .empty-inventory a:visited{
    color: #9da9d5;
}
.inventory-help{
    min-width: 120px;
}