.aside{
    display: flex;
    height: 100vh;
}

.catalog__filter{
    background-color: #ecedf5;
    width: 260px;
    height: 100%;
    overflow-y: scroll;
    overflow-y: overlay;
}
.catalog__filter::-webkit-scrollbar {
    width: 5px;
}
.catalog__filter::-webkit-scrollbar-thumb {
    background: #696e78;
    border-radius: 10px;
}
.filter__niche{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5d6b9f;
}
.filter__category{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #9da9d5;
    box-shadow: 0 5px 5px -5px #AAAAAA;
}
.choose--niche li{
    color: #FFF;
    background-color: #5d6b9f;
    font-family: 'GilroyBold';
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: none;
    width: 220px;
    padding: 15px 20px;
}
.choose--niche{
    display: block;
    width: 100%;
    margin: 0;
}
.niche__dropdown{
    padding-bottom: 10px;
    background-color: #ecedf5;
    height: 235px;
    overflow-y: scroll;
    display: none;
}
.category__dropdown{
    position: initial;
    width: 100%;
}
.choose--category p{
    padding-left: 20px;
    padding-right: 25px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.choose--category span{
    width: 150px;
}
.niche__dropdown::-webkit-scrollbar {
    display: none;
    transition: 5s;
}
.niche__dropdown:hover::-webkit-scrollbar {
    display: block;
    transition: 5s;
}
.niche__dropdown::-webkit-scrollbar-thumb {
    background: #5d6b9f;
    border-radius: 10px;
    width: 10px;
}
.category__dropdown--visible, .niche__dropdown--visible{
    display: block;
}
.category__dropdown li, .niche__dropdown li{
    width: 100%;
    box-sizing: border-box;
    background-color: #ecedf5;
    color: #717b9b;
    font-weight: lighter;
    padding: 10px 40px;
    display: block;
}
.category__dropdown a{
    text-decoration: none;
    color: #717b9b;
}
.category__dropdown a:visited{
    color: #717b9b;
}
.selected , .niche__dropdown li:hover, .category__dropdown li:hover{
    background-color: #dbdff2;
}
.selected{
    background-color: #dbdff2 !important;
}
.chevronDown, .chevronUp{
    margin-left: 110px;
    font-size: 10px;
    display: none;
}
.chevronDown--category, .chevronUp--category{
    margin-left: 54px;
    font-size: 10px;
    display: none;
}
.chevronDownVisible, .chevronUpVisible{
    display: inline;
}
.choose--category{
    color: #FFF;
    background-color: #9da9d5;
    font-family: 'GilroyBold';
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    text-transform: capitalize;
}
/*****************/
.shipping{
    padding: 15px;
}
.country--from--header{
    background-color: #FFF;
    border-radius: 4px;
    border-bottom: 1px solid #c7d0f3;
    margin: 0 0 15px;
}
.country--from--header .country--from--header-title{
    color: #2f344f;
    font-weight: 300;
    font-size: 14px;
}
.country--from--header-title{
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.country--from--list{
    border-top: 1px solid #c7d0f3;
    margin: 0 15px 8px;
    height: 240px;
    overflow-y: scroll;
    display: none;
}
.country--from--list--visible{
    display: block;
}
.country--from--list-item{
    padding: 5px 0 0;
    font-size: 14px;
    font-weight: 400;
}
.country--from--list-item span:hover{
    font-size: 15px;
    font-weight: 500;
}
.country--from--list-item input{
    content: url("../../images/unchk.jpg");
    width: 18px;
    height: 15px;
    outline: none;
}
.country--from--list-item input:checked{
    content: url("../../images/chk.jpg");
}
.country--from--list::-webkit-scrollbar {
    width: 5px;
}
.country--from--list::-webkit-scrollbar-thumb {
    background: #696e78;
    border-radius: 10px;
}
.chevronVisible{
    font-size: 10px;
}
.chevronInvisible{
    display: none;
}

@media only screen and (max-width: 600px) {
    .button--big{
        text-indent: -9999px;
        line-height: 0;
    }
    .button--big:after {
        content:'ADD';
        text-indent: 0;
        display: block;
        line-height: initial;
    }
    .aside__filter-small button{
        text-indent: -9999px;
        line-height: 0;
    }
    .aside__filter-small button:after {
        font-family: FontAwesome;
        content: "\f0b0";
        text-indent: 0;
        display: block;
        line-height: initial;
        font-size: 18px;
    }

}
/******************/
.slider {
    position: relative;
    width: 230px;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 2px;
    position: absolute;
}

.slider__track {
    background-color: #848ba9;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #9fe5e1;
    z-index: 2;
}
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 230px;
    outline: none;
}
.thumb::-webkit-slider-thumb {
    background-color: #49547d;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px #49547d;
    cursor: pointer;
    height: 12px;
    width: 12px;
    pointer-events: all;
    position: relative;
}

.thumb--left::-webkit-slider-thumb {
    z-index: 3;
}

.thumb--right::-webkit-slider-thumb {
    z-index: 4;
}
.range{
    padding: 0 15px;
}
.range--price, .range--profit{
    position: relative;
    height: 110px;
}
.range p{
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gilroy-bold;
    color: #393f4f;
}
.range--input{
    display: flex;
    justify-content: space-between;
}
.min--price, .max--price, .min--profit, .max--profit{
    background-color: #FFF;
    width: 57px;
    height: 25px;
    margin-top: 20px;
    border-radius: 2px;
    display: flex;
}
.range--price p, .range--profit p{
    margin-top: 0;
    margin-bottom: 25px;
}
.min--price p, .max--price p, .min--profit p, .max--profit p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 25px;
    width: 20px;
    font-size: 14px;
    color: #b7bdc2;
    border-right: 1px solid #ecedf5;
}
.min--price span, .max--price span, .min--profit span, .max--profit span{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 0;*/
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #b7bdc2;
}
.reset--BTN{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .Search__products{
        display:none;
    }
    .Search{
        width: 40px;
        min-width: 40px;
        border-radius: 3px;
        background-color: #f8f9fa;

    }
    .Header__search{
        border:none;
        width: 200px;
        display: flex;
        justify-content: flex-end;
        height: 25px;
        min-width: 0;
    }
    .Search__ICON{
        width: 40px;
        background-color: #f8f9fa;
    }
}
@media only screen and (max-width: 768px) {
    .Header{
        border-bottom: 1px solid #dbe0f3;
    }
    .nav_sort{
        justify-content: center;
        margin: 0;
    }
}
@media only screen and (max-width: 935px) {
    .aside_wrapper{
        display: none;
    }
    .aside__filter-small{
        display: block;
    }
    .aside__filter-small button{
        margin-left: 25px;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .help{
        display: none;
    }
}
@media only screen and (max-width: 1070px) {
    .Nav_wrapper{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: flex-start;
        flex: none;
    }
}
@media only screen and (max-width: 1055px) {
    .selected__products-number button{
        display: none;
    }
    .selected__products-number p{
        border: none;
    }

    .selected__products-number-small{
        display: block;
    }
}