.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../images/catalog_bg.3808158baad738767615.jpg");
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form__wrapper, .form__wrapper--sign-up, .emailVerification{
    height: auto;
    width: 413px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #878ea6;
}
.form__wrapper-invisible, .form__wrapper--sign-up-invisible, .emailVerification-invisible{
    display: none;
}
.login-header{
    height: 100px;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.login-header img{
    height: 30px;
    position: absolute;
    left: 30px;
}
.login-header span{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.login-form{
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email, .password{
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.login-form input[type="text"], .login-form input[type="password"]{
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
}
.email_icon{
    height: 100%;
    color: #6ad6df;
    padding-right: 10px;
}
.password_icon{
    height: 100%;
    color: #c2c4c7;
    padding-right: 10px;
}
.login-form input[type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: #6ad6df;
    border: none;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}
.form__wrapper a, .form__wrapper--sign-up a, .form__wrapper--sign-up p{
    font-size: 12px;
    color: #c2c4c7;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    width: 250px;
}
label{
    font-size: 12px;
    color: #c2c4c7;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
}
.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.form__wrapper a{
    text-decoration: none;
}
.social_auths{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
}
.social_auths hr, .social_auths span{
    width: 100%;
    color: #c2c4c7;
    position: absolute;
    top: 0;
}
.social_auths span{
    width: auto;
    background-color: #FFF;
    padding: 0 10px;
    font-family: Gilroy-bold;
}
.social_BTNs button{
    border: none;
    height: 40px;
    width: 165px;
    background-color: #f9f9fa;
    cursor: pointer;
}
.social_BTNs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sign_up{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.sign_up span{
    color: #848484;
    font-weight: 300;
}
.sign_up button{
    background-color: #FFF;
    border: none;
    font-size: 18px;
    color: #727e96;
    font-weight: 600;
    cursor: pointer;
}
.emailVerification{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
}
.emailVerification img{
    width: 200px;
}
.emailVerification h2{
    font-family: Gilroy-bold;
    font-size: 18px;
}
.emailVerification p{
    font-size: 14px;
    color: #c2c4c7;
}
.emailVerification a{
    text-decoration: none;
    font-size: 14px;
    color: #5d709a;
    font-weight: 500;
}
.emailVerification button{
    width: 100%;
    padding: 15px;
    background-color: #6ad6df;
    border: none;
    color: #FFF;
    font-family: Gilroy-bold;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    cursor: pointer;
    box-sizing: border-box;
}