.cart__wrapper{
    width: 100%;
    height: 100%;
    border-left: 1px solid #dcdde3;
    background-color: #f8f9fa;
}
.header__wrapper{
    background-color: #f9fbfe;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #dcdde3;
    display: flex;
    align-items: center;
}
.header__wrapper span{
    margin-left: 50px;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
    font-size: 18px;
    flex-grow: 1;
}
.cart--help{
    width: 50px;
}
.main__wrapper{
    overflow-y: auto;
    height: calc(100vh - 76px);
}
.cart_form{
    box-shadow: 0 0 10px 2px #f3f3f3;
    margin: 25px 50px 50px;
    background-color: #FFF;
    border-radius: 5px;
    grid-column: 1/-1;
}
.form__header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #f8f8f8;
}
.form__header span{
    margin-left: 40px;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
}
.form__header button{
    margin-right: 50px;
    border: none;
    width: 185px;
    height: 45px;
    border-radius: 5px;
    background-color: #fdf1f0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: #f2787a;
}
.cart{
    margin-left: 60px;
    margin-right: 60px;
}
.form{
    width: 520px;
    height: 270px;
    background-color: #f9fbfe;
}
.cart-details{
    width: 100%;
}
.cart-details ul{
    display: flex;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
    justify-content: space-between;
}