.create-product__wrapper{
    width: 100%;
    height: 100vh;
    border-left: 1px solid #dcdde3;
    background-color: #f8f9fa;
}
.create-product__form{
    box-shadow: 0 0 10px 2px #f3f3f3;
    margin: 25px 50px 50px;
    background-color: #FFF;
    border-radius: 5px;
}
.create-product__form input[type="submit"]{
    background-color: #6ad6df;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: #FFF;
    font-family: Gilroy-bold;
    font-weight: bolder;
    font-size: 18px;
}