.dashboard__wrapper{
    width: 100%;
    height: 100%;
    border-left: 1px solid #dcdde3;
    background-color: #f8f9fa;

}
.header__wrapper-dashboard{
    display: flex;
    align-items: center;
    background-color: #f9fbfe;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #dcdde3;
}
.page__title{
    flex-grow: 1;
    margin-left: 50px;
    text-transform: uppercase;
    color: #303856;
    font-family: Gilroy-bold;
    font-weight: bold;
    font-size: 18px;
}
.current-plan{
    height: 100%;
    width: 200px;
    border-left: 1px solid #dcdde3;
    border-right: 1px solid #dcdde3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dashboard--help{
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-plan span{
    color: #303856;
    font-family: Gilroy-bold;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}
.current-plan button{
    border: none;
    background-color: #e6eefc;
    color: #4885ef;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    font-family: Gilroy-bold;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.main__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 40px;
    padding-left: 40px;
    column-gap: 10px;
    row-gap: 20px;
}
.dashboard{
    box-shadow: 0 0 10px 2px #f3f3f3;
    margin-top: 65px;
    grid-column: 1/-1;
    background-color: #FFF;
    height: 600px;
    padding: 20px 40px;
}
.dashboard p:first-child{
    color: #323949;
    font-size: 20px;
    margin-bottom: 0;
}
.dashboard p:nth-child(2){
    margin-top: 10px;
    color: #4b567f;
    font-size: 18px;
    font-weight: 300;
}
.steps{
    margin-top: 35px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.step-1, .step-2, .step-3, .step-4{
    max-width: 370px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps h3{
    color: #49547d;
    font-size: 16px;
    width: 220px;
    text-align: center;
    line-height: 1.8;
}
.steps span{
    color: #49547d;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
}
.step_illustrate{
    width: 100%;
    display: flex;
    justify-content: center;
}
.start_BTN, .skip_BTN{
    width: 125px;
    height: 38px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-family: Gilroy-bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}
.start_BTN{
    background-color: #61d5df;
    color: #FFF;
    margin-right: 20px;
}
.skip_BTN{
    background-color: #FFF;
    color: #8c93ad;
    box-shadow: 0 0 10px 2px #f3f3f3;
}
.instructions{
    margin: 50px;
}
.countries-table{
    background-color: #FFF;
    box-shadow: 0 0 10px 2px #f3f3f3;
}
.countries-table table{
    width: 100%;
}
.countries-table tr{
    width: 100%;
   display: flex;
    justify-content: space-between;
}
.countries-table tr:first-child{
    border-bottom: 2px solid #f5f5f6;
}
.countries-table th{
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    color: #49547d;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Gilroy-bold;
    font-size: 15px;
}
.countries-table td{
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #49547d;
    font-size: 14px;
    font-weight: 300;
}
.countries-table tr td:first-child{
    width: 130px;
}
.countries-table tr td:nth-child(3){
    width: 130px;
    display: flex;
    justify-content: flex-end;
}
.countries-table tr:nth-child(even){
 background-color: #f9fafb;
}
.advertising img{
   height: 100%;
    width: 100%;
}
.map{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 0 0 10px 2px #f3f3f3;
}
.map-selected {
    fill: #61d5df;
}

.map-unselected {
    fill: #d4dadd;
}

.map-selected:hover, .map-unselected:hover {
    cursor: pointer;
    fill: #61d5df;
}
#EU{
    fill: #61d5df;
}
#path5914{
    fill: #61d5df;
}
#NA{
    fill: #61d5df;
}